@import '../../styles/themeStyles';

body {
  background-color: $color-primary-light;
  font: $font;
  margin: 10px;

  header {
    text-align: center;
  }

  .page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
  }
}
